* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  font-family: "Playwrite NL", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 20px;
}

body {
    background: linear-gradient(80deg, rgb(125, 125, 241), rgb(238, 238, 247)) ;
}

.box {
    width: 100;
    margin: 3vh 25vw;
    border: 2px solid;
    border-radius: 10px;
    padding: 1vw;
}

h2 {
    text-align: center;
    text-decoration: underline;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 8);
}

p {
    padding: 0px 5px 15px 5px;
    line-height: 30px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 4);
}

.figura {
    box-shadow: 10px 10px 5px 0px black;
    align-content: center ;
}

#buttons {
    display: flex;
    justify-content: center;
    gap: 50px;   
}

#botao1 {
    padding: 8px;
    background-color: yellow;
    border-radius: 10px; 
}

#botao2 {
    padding: 8px;
    background-color: green;
    border-radius: 10px; 
}

#botao3 {
    padding: 8px;
    background-color: rgb(221, 22, 211);
    border-radius: 10px; 
}



